// Header style.
.navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
}
.navbar-expand-md .navbar-nav .nav-link {
    font-size: 14px;
    padding: 10px 14px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

header {
    background-color: #F4F7F9;
}

.footer {
    padding: 40px 0 0;

    .container {
        max-width: 810px;
        margin: 0 auto;
        border-bottom: 1px solid #d9d7d7;

        > .row {
            @media(max-width: 992px) {
                padding: 0 20px;
            }

            @media(max-width: 575px) {
                padding: 0;
            }

            @media(min-width: 993px) {
                margin: 0 -20px;
            }
        }
    }

    h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        color: #9d9c9c;
        margin-bottom: 24px;
    }

    p {
        margin-bottom: 30px;
        font-size: 16px;
    }

    .social {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        list-style: none;
        padding: 0;

        li {
            padding-right: 21px;
        }
    }

    &__bottom {
        font-size: 14px;
        padding: 24px 0;
    }
}

.stikybar {
    position: fixed;
    right: -132px;
    transform: rotate(-90deg);
    top: 250px;
    z-index: 99;

    a {
        background-color: $blue;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        padding: 12px 20px;
        display: inline-block;
        border-radius: 7px 7px 0 0;
        min-width: 150px;
        text-decoration: none;
        text-align: center;

        & + a {
            background-color: $orange; 
        }
    } 

}

.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: $orange;
    color: $white;
    border-radius: 100%;
    display: none;
    cursor: pointer;

    span {
        text-decoration: none;
        position: relative;
        transform: rotate(-90deg);
        display: inline-block;
        color: $white;
        font-size: 16px;
            display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
}